<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brechó Dos Creks - Pagina em desenvolvimento</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/brecho_creks.png">
</head>
<body>
    <div id="header-component"></div>

    <main class="emdev_main">
        <div class="emdev_container">
            <h2 class="emdev_titulo">Pagina em desenvolvimento</h2>
            <p class="emdev_texto">Trabalhando...</p>
        </div>
    </main>

    <div id="footer-component"></div>
</body>
</html>