<div class="cabecao">
  <header class="cabeca">
    <div id="pesquisa_barra">
      <input type="search" id="pesquisa" placeholder="Buscar" />
      <span id="pesquisa_img"><img src="/icons/pesquisa.svg" alt="" loading="lazy" /></span>
    </div>
    <a href="/index.html"><img src="/img/brecho_creks.png" id="logo" loading="lazy" /></a>
    <p id="lc"><a href="/pages/cadastro.html">Cadastre-se</a> — <a href="/pages/login.html">Entrar</a></p>
  </header>
  <ul class="abas">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/produtos.html">Produtos</a></li>
    <li><a href="/pages/contato.html">Contato</a></li>
    <li><a href="https://github.com/KekelProgramas/brecho-creks">repositório</a></li>
  </ul>
</div>
